@model IEnumerable<lab4t1.Models.Plataforma>

@{
    ViewData["Title"] = "Index";
}
<body style="background-color:#212529">
    <h1 class="text-white" style="text-align:center">Lista de Plataformas</h1>
<br />

<div class="row text-white">
    <div class="col-md-8 offset-md-2">
     
        <table class="table text-white">
            <thead>
                    <tr class="text-center text-white">
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>Ações</th>
                </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="text-center text-white">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="text-center">
                <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i>Editar </a> |
                <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye"></i>Detalhes </a> |
                <a class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i>Apagar </a>
            </td>
        </tr>
}
    </tbody>
        </table>
    </div>
</div>
</body>
@await Html.PartialAsync("_CreateItem", "Plataformas")